*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .web {
    width: 100%;
    height: 100%;
    display: block;
  }
  